## Generic utils
python-dotenv


## MongoDB
pymongo

## Streamlit
streamlit

# Milvus
pymilvus
pymilvus[model]

# datasets
datasets

## Torch and embeddings
torch
sentence-transformers
transformers

## llama-index

llama-index

llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-embeddings-mistralai

llama-index-llms-replicate
llama-index-llms-openai
llama-index-llms-mistralai
# llama-index-llms-llama-cpp

llama-index-vector-stores-milvus
llama-index-vector-stores-mongodb


## LLMs 
openai
replicate
# llama-cpp-python

ollama


## pdf handling
PyPDF2
pypdf

## Utils
jupyterlab
ipykernel
ipython
chardet==5.2.0
charset-normalizer==3.3.2