python-dotenv
streamlit


## Clients
openai
replicate
ollama-python

## For Docker, we don't want to pull in all nvidia libraries
## they make the docker image much larger
#-f https://download.pytorch.org/whl/torch_stable.html
# torch==2.4.1+cpu
